<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>所有课程</title>
    <link rel="stylesheet" href="../public/less/base.css">
    <link rel="stylesheet" href="../public/less/lessonAll.css">
    <link rel="stylesheet" href="../public/assets/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!--侧边导航栏部分-->
    <div class="sidebar">
        <img src="../public/images/logo.png" alt="">
        <h2 class="title">复旦选课助手</h2>
        <ul class="nav">
            <li class="">
                <i class="fa fa-table fl"></i>
                <a href="javascript:;" class="navName">我的课表</a>
            </li>
            <li>
                <i class="fa fa-star-o fl"></i>
                <a href="./collect.html" class="navName">收藏夹</a>
            </li>
            <li>
                <i class="fa fa-search fl"></i>
                <a href="javascript:;" class="navName">搜索</a>
            </li>
            <li class="active">
                <i class="fa fa-list-alt fl"></i>
                <a href="./LessonAll.html" class="navName active">所有课程</a>
            </li>
        </ul>
    </div>
    <!--全部课程表单部分-->
    <div class="alllesson">
        <div class="lessonInfo">
            <div class="table-name">理科课程</div>
            <table>
                <thead>
                    <td>选课序号</td>
                    <td>课程名称</td>
                    <td>学分</td>
                    <td>教师</td>
                    <td>职称</td>
                    <td>人数</td>
                    <td>教室</td>
                    <td>时间</td>
                    <td>备注</td>
                </thead>
                <tr>
                    <td>MATH120001.01</td>
                    <td>高等数学A(上）</td>
                    <td>5</td>
                    <td>徐惠平</td>
                    <td>副教授</td>
                    <td>100</td>
                    <td>H3308</td>
                    <td>一 3-4 ，三 1-2 ，五 3-4</td>
                    <td>上海市精品课程</td>
                </tr>
                <tr>
                    <td>MATH120001.01</td>
                    <td>高等数学A(上）</td>
                    <td>5</td>
                    <td>徐惠平</td>
                    <td>副教授</td>
                    <td>100</td>
                    <td>H3308</td>
                    <td>一 3-4 ，三 1-2 ，五 3-4</td>
                    <td>上海市精品课程</td>
                </tr>
                <tr>
                    <td>MATH120001.01</td>
                    <td>高等数学A(上）</td>
                    <td>5</td>
                    <td>徐惠平</td>
                    <td>副教授</td>
                    <td>100</td>
                    <td>H3308</td>
                    <td>一 3-4 ，三 1-2 ，五 3-4</td>
                    <td>上海市精品课程</td>
                </tr>
                <tr>
                    <td>MATH120001.01</td>
                    <td>高等数学A(上）</td>
                    <td>5</td>
                    <td>徐惠平</td>
                    <td>副教授</td>
                    <td>100</td>
                    <td>H3308</td>
                    <td>一 3-4 ，三 1-2 ，五 3-4</td>
                    <td>上海市精品课程</td>
                </tr>
                <tr>
                    <td>MATH120001.01</td>
                    <td>高等数学A(上）</td>
                    <td>5</td>
                    <td>徐惠平</td>
                    <td>副教授</td>
                    <td>100</td>
                    <td>H3308</td>
                    <td>一 3-4 ，三 1-2 ，五 3-4</td>
                    <td>上海市精品课程</td>
                </tr>
                <tr>
                    <td>MATH120001.01</td>
                    <td>高等数学A(上）</td>
                    <td>5</td>
                    <td>徐惠平</td>
                    <td>副教授</td>
                    <td>100</td>
                    <td>H3308</td>
                    <td>一 3-4 ，三 1-2 ，五 3-4</td>
                    <td>上海市精品课程</td>
                </tr>
                <tr>
                    <td>MATH120001.01</td>
                    <td>高等数学A(上）</td>
                    <td>5</td>
                    <td>徐惠平</td>
                    <td>副教授</td>
                    <td>100</td>
                    <td>H3308</td>
                    <td>一 3-4 ，三 1-2 ，五 3-4</td>
                    <td>上海市精品课程</td>
                </tr>
                <tr>
                    <td>MATH120001.01</td>
                    <td>高等数学A(上）</td>
                    <td>5</td>
                    <td>徐惠平</td>
                    <td>副教授</td>
                    <td>100</td>
                    <td>H3308</td>
                    <td>一 3-4 ，三 1-2 ，五 3-4</td>
                    <td>上海市精品课程</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>